@import '../../../lib.scss';

#shop {
	.header {
		width: 100vw;
		height: 400px;

		display: flex;
		justify-content: center;
		align-items: center;

		color: $textColor;

		margin-top: 64px;

		background-image: url('../../../assets/landing.jpg');
		background-color: #222222bb;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;

		&.mobile {
			margin-top: 0;
			height: calc(100vh - 64px);
			background-attachment: scroll;
		}

		.header-wrapper {
			width: 400px;
			height: 100px;

			box-shadow: 2px 2px 6px #222222bb;

			&.mobile {
				width: 100%;
				height: 100%;
			}

			background-color: #222222bb;

			transition: background-color 500ms $easing;

			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				@include fadeUp(50ms);

				transition: background-color 500ms $easing;
			}
		}
	}

	section {
		// min-height: calc(100vh - 432px);

		// @media screen and (min-width: 599px) {
		// 	height: calc(100vh - 464px);
		// }

		// &.mobile {
		// min-height: calc(100vh - 32px);
		// }

		&.payment {
			width: 100%;

			display: grid;
			grid-template-columns: 1fr 3fr 1fr;
			grid-template-rows: 1fr;
			// grid-gap: 16px;

			&.mobile {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
				// grid-template-columns: 1fr;
			}

			.card {
				// margin: 8px;
				grid-column: 2;
				padding: 8px;

				border-radius: 3px;
				overflow: hidden;

				.price {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: left;
					text-align: left;

					padding: 0 16px;

					overflow: hidden;

					h1 {
						color: #111;
						font-weight: normal;
						.total {
							font-weight: bold;
						}
					}

					span {
						margin: 4px 0;
						padding: 8px 0;
						color: #111;

						&:not(.total) {
							display: flex;
							justify-content: center;
							align-items: center;
							.spacer {
								flex: 1 1 auto;
							}

							.bold {
								font-weight: bold;
							}
						}
					}
				}

				// .paypal-buttons {
				// 	display: flex;
				// 	flex-direction: column;
				// 	justify-content: center;
				// 	align-items: center;
				// }

				.paypal-buttons {
					transition: opacity 200ms $easing;
				}

				// * {
				// 	overflow: hidden;
				// }

				background-color: #fff;

				// margin: 0 auto;

				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr;

				&.mobile {
					grid-template-columns: 1fr;
					grid-template-rows: 1fr 1fr;
				}
			}

			min-height: 256px;
		}

		padding: 16px;

		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		color: $textColor;

		.items {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: 1fr;
			// grid-gap: 16px;

			&.mobile {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(3, 1fr);

				.filler {
					display: none;
				}
			}

			.card {
				margin: 8px;

				background-color: #fff;

				overflow: hidden;

				border-radius: 3px;

				box-shadow: 2px 2px 6px #222222bb;

				.media {
					height: 150px;
					width: 100%;

					img {
						width: 80%;
					}

					display: flex;
					justify-content: center;
					align-items: center;
				}

				.text {
					padding: 16px 0;

					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;

					span {
						font-size: 32px;
					}

					&.chocolate {
						background-color: darken($color: #ff8a6c, $amount: 2);

						span {
							color: #fff;
						}

						input {
							color: #fff;
						}
					}

					&.sweet {
						background-color: darken($color: #ffce3b, $amount: 2);

						span {
							color: #111;
						}

						input {
							color: #111;
						}
					}

					&.savoury {
						background-color: darken($color: #3f7439, $amount: 2);

						span {
							color: #fff;
						}

						input {
							color: #fff;
						}
					}

					.input {
						input {
							background-color: transparent;

							text-align: center;

							width: 50%;

							margin: 0 auto;

							padding: 0;
						}
					}
				}

				.input {
					width: 100%;
					height: 64px;

					display: grid;
					grid-template-columns: 1fr 2fr 1fr;

					button {
						border: none;
						background-color: transparent;

						&:hover {
							background-color: #22222211;
						}

						&:not([disabled]):active {
							color: #555;
						}
					}

					input {
						text-align: center;
						border: none;
					}
				}
			}
		}
	}
}
