@import '../../../../lib.scss';

#recipes-selections {
	.header {
		width: 100vw;
		height: 400px;

		display: flex;
		justify-content: center;
		align-items: center;

		color: $textColor;

		margin-top: 64px;

		background-image: url('../../../../assets/landing.jpg');
		background-color: #222222bb;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;

		&.mobile {
			margin-top: 0;
			background-attachment: scroll;
		}

		.header-wrapper {
			width: 400px;
			height: 100px;

			box-shadow: 2px 2px 6px #222222bb;

			&.mobile {
				height: 100%;
				width: 100%;
			}

			background-color: #222222bb;

			transition: background-color 500ms $easing;

			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				@include fadeUp(50ms);

				text-align: center;

				transition: background-color 500ms $easing;
			}
		}
	}

	.recipes-wrapper {
		display: grid;
		grid-template-columns: 1fr;

		@media screen and (min-width: 721px) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: 1281px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		min-height: calc(100vh - 464px);

		margin: 0 16px;

		padding: 32px 0;

		@media screen and (min-width: 599px) {
			margin: 0 15vw;
		}

		a {
			width: 90%;
			height: 300px;

			text-decoration: none;

			border-radius: 3px;

			margin: 16px auto;

			box-shadow: 2px 2px 6px #222222bb;

			// @media screen and (min-width: 599px) {
			// 	margin: 0 auto;
			// 	width: 95%;
			// }

			&.mobile {
				margin: 8px auto;
				width: 100%;
			}

			.card {
				width: 100%;
				height: 300px;

				overflow: hidden;

				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				background-color: #222222bb;

				display: grid;
				grid-template-rows: 70% 30%;

				.image {
					height: 100%;
					width: 100%;

					border-top-left-radius: 3px;
					border-top-right-radius: 3px;

					overflow: hidden;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						overflow: hidden;

						// @include fadeUp(300ms);
					}
				}

				.card-header {
					width: 100%;
					height: 100%;

					background: $textColor;

					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					padding-left: 8px;

					h2,
					span {
						width: 100%;
						text-align: left;
					}

					h2 {
						color: #222222;
					}

					span {
						color: #333;
					}
				}
			}

			// @include fadeUp(0ms);
		}
	}

	.loading {
		width: 100vw;

		// height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		height: calc(100vh - 464px);

		// @media screen and (min-width: 599px) {
		// 	height: calc(100vh - 464px);
		// }

		.lds-ellipsis {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
		}
		.lds-ellipsis div {
			position: absolute;
			top: 33px;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: #e5e5e5;
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}
		.lds-ellipsis div:nth-child(1) {
			left: 8px;
			animation: lds-ellipsis1 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(2) {
			left: 8px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(3) {
			left: 32px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(4) {
			left: 56px;
			animation: lds-ellipsis3 0.6s infinite;
		}
	}
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
