@import '../../../../lib.scss';
#recipe-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// align-items: center;

	.loading {
		.lds-ellipsis {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
		}
		.lds-ellipsis div {
			position: absolute;
			top: 33px;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: #fff;
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}
		.lds-ellipsis div:nth-child(1) {
			left: 8px;
			animation: lds-ellipsis1 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(2) {
			left: 8px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(3) {
			left: 32px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		.lds-ellipsis div:nth-child(4) {
			left: 56px;
			animation: lds-ellipsis3 0.6s infinite;
		}
		@keyframes lds-ellipsis1 {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
		@keyframes lds-ellipsis3 {
			0% {
				transform: scale(1);
			}
			100% {
				transform: scale(0);
			}
		}
		@keyframes lds-ellipsis2 {
			0% {
				transform: translate(0, 0);
			}
			100% {
				transform: translate(24px, 0);
			}
		}
	}

	.header {
		width: 100vw;
		height: 400px !important;

		display: flex;
		justify-content: center;
		align-items: center;

		color: $textColor;

		margin-top: 64px;

		&.mobile {
			margin-top: 0;
			height: calc(50vh - 64px);
		}

		overflow: hidden;

		background-size: cover;
		// background-attachment: fixed;
		background-position: center center;
		background-color: #222222bb;

		&.loading {
			.loading-container {
				position: absolute;
				top: 64px;
				// top: 56px;
				left: 0;
				width: 100vw;
				height: 400px;

				// @media screen and (min-width: 599px) {
				// 	top: 56px;
				// }

				display: flex;
				justify-content: center;
				align-items: center;

				.lds-ellipsis {
					display: inline-block;
					position: relative;
					width: 80px;
					height: 80px;

					// z-index: 1;
				}
				.lds-ellipsis div {
					position: absolute;
					top: 33px;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					background: #fff;
					animation-timing-function: cubic-bezier(0, 1, 1, 0);
				}
				.lds-ellipsis div:nth-child(1) {
					left: 8px;
					animation: lds-ellipsis1 0.6s infinite;
				}
				.lds-ellipsis div:nth-child(2) {
					left: 8px;
					animation: lds-ellipsis2 0.6s infinite;
				}
				.lds-ellipsis div:nth-child(3) {
					left: 32px;
					animation: lds-ellipsis2 0.6s infinite;
				}
				.lds-ellipsis div:nth-child(4) {
					left: 56px;
					animation: lds-ellipsis3 0.6s infinite;
				}
				@keyframes lds-ellipsis1 {
					0% {
						transform: scale(0);
					}
					100% {
						transform: scale(1);
					}
				}
				@keyframes lds-ellipsis3 {
					0% {
						transform: scale(1);
					}
					100% {
						transform: scale(0);
					}
				}
				@keyframes lds-ellipsis2 {
					0% {
						transform: translate(0, 0);
					}
					100% {
						transform: translate(24px, 0);
					}
				}
			}
		}

		.header-wrapper {
			// width: 400px;
			height: 250px;

			margin: 75px 0;

			// position: absolute;

			box-shadow: 2px 2px 6px #222222bb;

			z-index: 100;

			background-color: #222222bb;

			transition: background-color 500ms $easing;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&.mobile {
				width: 100%;
				height: 100%;

				.details {
					flex-direction: column;

					overflow: hidden;

					span {
						margin: 16px;
						overflow: visible;
					}
				}
			}

			h1 {
				@include fadeUp(50ms);

				transition: background-color 500ms $easing;

				overflow: visible;

				margin: 32px 0;
			}
		}

		.details {
			display: flex;
			justify-content: space-around;
			align-items: center;

			margin: 32px 0;

			&.mobile {
				flex-direction: column;
			}

			p {
				overflow-y: visible;
			}

			span {
				width: 200px;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				overflow: visible;

				@include fadeUp(200ms);

				svg {
					margin-bottom: 8px;
				}
			}
		}
	}

	.loading {
		width: 100vw;

		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		@include loader();
	}

	.recipe {
		min-height: calc(100vh - 464px);

		background-color: darken($color: $color, $amount: 3);

		padding-top: 32px;

		&.mobile {
			.MuiCard-root {
				width: 90vw;
				.MuiList-root {
					width: max-content;

					.item {
						.amount {
							width: auto;
							border-right: none;
						}
					}
				}
			}
		}

		// @media screen and (min-width: 599px) {
		// 	min-height: calc(100vh - 464px);
		// }

		.MuiCard-root {
			width: 60%;
			margin: 0 auto;

			margin-bottom: 16px;

			box-shadow: 2px 2px 6px #222222bb;

			&.desc {
				@include fadeUp(150ms);
			}

			&.ing {
				@include fadeUp(250ms);

				* span {
					overflow: visible;
				}
			}

			&.meth {
				@include fadeUp(350ms);

				margin-bottom: 64px;
			}

			.MuiCardHeader-title {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				overflow: hidden;

				h1 {
					margin: 0;
				}

				svg {
					margin-right: 12px;
				}
			}

			h2.optional {
				margin: 16px 0;
				overflow: hidden;
			}

			.MuiList-root .item {
				font-size: 16px;

				display: flex;
				justify-content: flex-start;
				align-items: center;
				height: 48px;
				padding: none !important;
				.amount {
					width: 150px;
					border-right: 1px solid #222222bb;
					height: 100%;

					text-align: center;
					margin-right: 16px;

					font-weight: bold;

					display: flex;
					justify-content: center;
					align-items: center;
				}

				a {
					color: #222;

					&:visited {
						color: #222;
					}
				}
			}

			.methodList {
				.method-list-item {
					&.mobile {
						.MuiListItem-root {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;

							// width: 90vw;

							h1,
							p {
								// width: 75%;
								margin: 0 auto;
								// overflow: hidden;
							}

							h1 {
								margin-left: 0;
								font-size: 16px;
								margin-bottom: 16px;
							}

							p.desc {
								margin-left: 0;
								width: 75vw;
							}

							p.em {
								margin-left: 4px;
								margin-top: 8px;
								// margin: 8px auto;
								width: 70vw;
								font-style: italic;
								font-weight: bold;
								// text-align: center;
							}

							hr {
								width: 50vw;
								margin: 0 auto;
							}
						}
					}
					.MuiListItem-root {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						h1,
						p,
						em {
							width: 90%;
							text-align: left;
							overflow: visible;
						}

						em {
							margin-top: 16px;
							font-weight: bold;
						}

						h1 {
							margin-bottom: 16px;
						}

						p.desc {
							margin-left: 8px;
						}

						p.em {
							margin: 8px auto;
							width: 85%;
							font-weight: bold;
							font-style: italic;
						}

						margin: 16px 0;
					}
					hr {
						width: 75%;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
