#container {
	min-height: 100vh;

	/*
		────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
		─██████████████─██████──██████─██████████████─██████──████████────██████████████─██████████████─██████████████─██████████████─████████████████───██████████─
		─██░░░░░░░░░░██─██░░██──██░░██─██░░░░░░░░░░██─██░░██──██░░░░██────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░░░██───██░░░░░░██─
		─██░░██████████─██░░██──██░░██─██░░██████████─██░░██──██░░████────██░░██████████─██░░██████░░██─██░░██████████─██░░██████░░██─██░░████████░░██───████░░████─
		─██░░██─────────██░░██──██░░██─██░░██─────────██░░██──██░░██──────██░░██─────────██░░██──██░░██─██░░██─────────██░░██──██░░██─██░░██────██░░██─────██░░██───
		─██░░██████████─██░░██──██░░██─██░░██─────────██░░██████░░██──────██░░██████████─██░░██████░░██─██░░██████████─██░░██████░░██─██░░████████░░██─────██░░██───
		─██░░░░░░░░░░██─██░░██──██░░██─██░░██─────────██░░░░░░░░░░██──────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░██─██░░░░░░░░░░░░██─────██░░██───
		─██░░██████████─██░░██──██░░██─██░░██─────────██░░██████░░██──────██████████░░██─██░░██████░░██─██░░██████████─██░░██████░░██─██░░██████░░████─────██░░██───
		─██░░██─────────██░░██──██░░██─██░░██─────────██░░██──██░░██──────────────██░░██─██░░██──██░░██─██░░██─────────██░░██──██░░██─██░░██──██░░██───────██░░██───
		─██░░██─────────██░░██████░░██─██░░██████████─██░░██──██░░████────██████████░░██─██░░██──██░░██─██░░██─────────██░░██──██░░██─██░░██──██░░██████─████░░████─
		─██░░██─────────██░░░░░░░░░░██─██░░░░░░░░░░██─██░░██──██░░░░██────██░░░░░░░░░░██─██░░██──██░░██─██░░██─────────██░░██──██░░██─██░░██──██░░░░░░██─██░░░░░░██─
		─██████─────────██████████████─██████████████─██████──████████────██████████████─██████──██████─██████─────────██████──██████─██████──██████████─██████████─
		────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
	*/
	// Safari for iOS specifically
	// this line fixes it tho so all good
	min-height: -webkit-fill-available;
	height: auto;

	// overflow-y: visible;
	overflow-x: hidden;

	// &.desktop {
	// 	padding-top: 64px;
	// }

	// @media screen and (min-width: 599px) {
	// 	height: calc(100vh - 64px);
	// }
}
