@import '../../../../lib.scss';

#shop {
	.header {
		width: 100vw;
		height: 400px;

		display: flex;
		justify-content: center;
		align-items: center;

		color: $textColor;

		margin-top: 64px;

		background-image: url('../../../../assets/landing.jpg');
		background-color: #222222bb;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;

		&.mobile {
			margin-top: 0;
			height: calc(100vh - 64px);
			background-attachment: scroll;
		}

		.header-wrapper {
			width: 400px;
			height: 100px;

			box-shadow: 2px 2px 6px #222222bb;

			&.mobile {
				width: 100%;
				height: 100%;
			}

			background-color: #222222bb;

			transition: background-color 500ms $easing;

			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				@include fadeUp(50ms);

				transition: background-color 500ms $easing;
			}
		}
	}

	section {
		height: calc(100vh - 464px);

		.selection {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			div {
				margin: 16px 8px;

				.input {
					height: 64px;

					width: 100%;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
				}
			}
		}
	}
}
