@import '../../../../lib.scss';

#recipes-index {
	height: auto;
	.header {
		width: 100vw;
		height: 400px;

		display: flex;
		justify-content: center;
		align-items: center;

		color: $textColor;

		margin-top: 64px;

		background-image: url('../../../../assets/landing.jpg');
		background-color: #222222bb;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;

		&.mobile {
			margin-top: 0;
			height: calc(50vh - 64px);
			background-attachment: scroll;
		}

		.header-wrapper {
			width: 400px;
			height: 100px;

			box-shadow: 2px 2px 6px #222222bb;

			&.mobile {
				height: 100%;
				width: 100%;
			}

			background-color: #222222bb;

			// transition: background-color 500ms $easing;

			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				@include fadeUp(50ms);

				transition: background-color 500ms $easing;
			}
		}
	}
	// background-color: lighten($color: $color, $amount: 50);
	// background-color: #e5e5e5;

	.options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin: 16px;

		min-height: calc(100vh - 464px);

		// @media screen and (min-width: 599px) {
		// 	min-height: calc(100vh - 464px);
		// 	margin: 16px 5vw;
		// }

		@media screen and (min-width: 1025px) {
			flex-direction: row;
			margin: 0 5vw;
		}

		.first {
			@include fadeUp(50ms);
		}

		.second {
			@include fadeUp(150ms);
		}

		.third {
			@include fadeUp(250ms);
		}

		a {
			width: 95%;
			height: 90%;

			margin: 16px 16px;

			border-radius: 3px;

			box-shadow: 2px 2px 6px #222222bb;

			@media screen and (min-width: 599px) {
				margin: 16px 32px;
			}

			text-decoration: none;

			div.card {
				background-color: #fff;
				// border-radius: 3px;

				div.media {
					height: 150px;
					width: 100%;

					img {
						width: 80%;
					}

					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			.text {
				height: 150px;
				width: 100%;

				display: flex;
				justify-content: center;
				align-items: center;

				text-align: center;

				span {
					text-decoration: none;

					font-size: 32px;
				}

				&.chocolate {
					background-color: darken($color: #ff8a6c, $amount: 2);

					span {
						color: #fff;
					}
				}

				&.sweet {
					background-color: darken($color: #ffce3b, $amount: 2);

					span {
						color: #111;
					}
				}

				&.savoury {
					background-color: darken($color: #3f7439, $amount: 2);

					span {
						color: #fff;
					}
				}
			}
		}
	}
}
