@import '../../lib.scss';
$height: 64px * 2;

footer {
	height: $height;
	width: 100vw;
	background-color: darken($color: $color, $amount: 8);
	color: $textColor;

	a {
		color: $textColor;
	}

	padding: 16px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
