@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import './lib.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	// overflow: hidden;
	overflow-x: hidden;
	scroll-behavior: smooth;

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	span {
		overflow: hidden;
	}
}

html {
	height: -webkit-fill-available;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;

	height: -webkit-fill-available;

	$color: $color;

	background-color: darken($color: $color, $amount: 5);

	font-family: 'Montserrat', sans-serif;

	#root {
		min-height: 100vh;
		min-height: -webkit-fill-available;
		height: auto;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	// margin-top: 56px;
}

#nav-menu {
	// z-index: 56347465;
	transform: translate(16px, 40px);

	.MuiPaper-rounded {
		background: darken($color: $color, $amount: 5);
	}

	ul {
		li {
			width: 150px;

			a {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				width: 100%;

				color: white;
				text-decoration: none;

				svg {
					margin-right: 8px;
				}
			}
		}
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
